<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="YbApp">
      <section name="YbWebConnect" type="System.Configuration.NameValueSectionHandler,System, Version=4.0.0.0, Culture=neutral,PublicKeyToken=b77a5c561934e089"/>
      <section name="YbLight" type="System.Configuration.NameValueSectionHandler,System, Version=4.0.0.0, Culture=neutral,PublicKeyToken=b77a5c561934e089"/>
      <section name="YbInSite" type="System.Configuration.NameValueSectionHandler,System, Version=4.0.0.0, Culture=neutral,PublicKeyToken=b77a5c561934e089"/>
    </sectionGroup>
  </configSections>

  <YbApp>
    <YbWebConnect>
      <add key="AppId" value="4f586ff8aa81d867"/>
      <add key="Callback" value="http://online.cumt.edu.cn/irides/oauth/yiban"/>
      <add key="Type" value="web"/>
      <add key="AppSecret" value="3c49012ad2897b9553ccc76a0598f700"/>
    </YbWebConnect>
    <YbLight>
      <add key="AppId" value="4f586ff8aa81d867"/>
      <add key="Callback" value="http://online.cumt.edu.cn/irides/oauth/yiban"/>
      <add key="AppSecret" value="3c49012ad2897b9553ccc76a0598f700"/>
    </YbLight>
    <YbInSite>
      <add key="AppId" value="4f586ff8aa81d867"/>
      <add key="AppSecret" value="3c49012ad2897b9553ccc76a0598f700"/>
    </YbInSite>
  </YbApp>


</configuration>